.footer {
  row-gap: 48px;
  .m-block {
    gap: 10px;
  }
  .link-block {
    column-gap: 120px;
    row-gap: 60px;
    ul {
      gap: 12px;
    }
    .txt-a {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 32px;
    }
    .txt-c {
      color: var(--theme-color-b);
      font-size: 16px;
      font-weight: 400;
      transition: 0.5s ease-in-out;
      display: block;
      &:hover {
        color: aqua;
      }
    }
  }
  @media screen and (max-device-width: 576px) {
    .link-block ul .txt-a {
      margin-bottom: 20px;
    }
  }
}

.footer-bg {
  padding-block: 42px;
  .txt-d {
    color: var(--theme-color-mobile-a);
    font-size: 14px;
    font-weight: 500;
  }
  .copyright {
    margin-top: 30px;
    .txt-d {
      font-weight: 400;
    }
  }
  @media screen and (max-device-width: 576px) {
    padding-bottom: 100px;
  }
}
