// .home-page {
// }

/* ////////////// hero-sec ///////////// */
.hero-sec {
  &__content-block {
    gap: 40px;
    max-width: 729px;
    padding: 170px 0;
  }
  .page-heading {
    color: var(--basic-dark-gray, #808080);
    & span {
      color: var(--theme-color-a);
    }
    & mark {
      background: none;
      padding: 0;
      color: var(--basic-dark-gray, #808080);
    }
  }
  .txt-p {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
  }
  .btns {
    gap: 16px;
  }
  @media screen and (max-width: 576px) {
    padding-top: 0;
    &__content-block {
      gap: 16px;
      padding-top: 40px;
      padding-bottom: 100px;
    }
    &__avtar-block {
      display: flex;
      justify-content: end;
      video {
        width: 240px;
        height: 240px;
        margin-right: 50px;
      }
    }
    .txt-p {
      font-size: 16px;
      line-height: 1.3; /* 133.333% */
    }
    .btns {
      gap: 16px;
      margin-top: 40px;
    }
  }
}

.hand {
  position: absolute;
  &.shake {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: shakeHand 0.7s ease-in-out 1s 2;
    transform-origin: 44px 48px;
    transform-style: preserve-3D;
  }
}
@keyframes shakeHand {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* ////////////// projects ///////////// */
.projects {
  margin-bottom: 140px;
  gap: 48px;
}
.project-card {
  gap: 20px;
  min-height: 565px;
  border-radius: 32px;
  border: 1px solid var(--theme-color-proj-card-border);
  background: var(--theme-color-a-o);
  box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.15);
  & .img-block img {
    border-radius: 0 32px 32px 0;
    width: 100%;
    object-fit: contain;
  }
  & .content-block {
    padding-left: 60px;
    padding-block: 60px;
    max-width: 480px;
    gap: 16px;
    & .txt-a {
      letter-spacing: 10px;
      margin-bottom: 12px;
    }
    & .txt-p {
      margin-bottom: 12px;
    }
  }
}

/* //////////////  ///////////// */

/* ////////////// work-togather ///////////// */
.work-togather {
  gap: 40px;
  margin-bottom: 100px;
  & .content-block {
    max-width: 496px;
    & .sec-heading {
      margin-bottom: 8px;
    }
  }
}

/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ////////////// contact ///////////// */

/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ////////////// media-quaries ///////////// */
@media screen and (max-device-width: 1400px) {
}
@media screen and (max-device-width: 1200px) {
}
@media screen and (max-device-width: 1140px) {
}
@media screen and (max-device-width: 992px) {
  .navbar {
    border: inherit;
    background: inherit;
    backdrop-filter: inherit;
  }
  .container-a {
    padding-inline: 16px;
  }
}
@media screen and (max-device-width: 768px) {
  .projects .project-card .content-block {
    padding: 24px;
    padding-top: 0;
  }
}
@media screen and (max-device-width: 576px) {
  .page-heading {
    font-size: 48px;
  }
  .sec-heading {
    font-size: 32px;
  }
  .txt-p {
    font-size: 14px;
  }
  .txt-a {
    font-size: 20px;
    font-weight: 800;
  }

  /* projects-card */
  .projects {
    gap: 32px;
    margin-top: 20px;
  }
  .project-card {
    & .img-block img {
      border-radius: 32px 32px 0 0;
    }
    & .content-block .txt-p {
      margin-bottom: 0px;
    }
  }

  /*  */
  .work-togather {
    margin-bottom: 70px;
    & .btn-a {
      width: 100%;
    }
  }
}
