.page-heading {
  color: var(--theme-color-a);
  font-size: 80px;
  font-weight: 700;
}
.sec-heading {
  color: var(--theme-color-a);
  font-size: 48px;
  font-weight: 700;
}
.txt-a {
  color: var(--theme-color-a);
  font-size: 32px;
  font-weight: 800;
}
.txt-b {
  color: var(--theme-color-a);
  font-size: 18px;
  font-weight: 500;
}
.txt-p {
  color: var(--basic-dark-gray, #808080);
  font-size: 16px;
  font-weight: 400;
}
